
h1{
	color:blue;
}
p , li{
font-size:18px;
color:white;
}

body {
margin:0;
background:black;
}

header{
	position:fixed;
	width: 100%;
	height:50px;
	color:white;
	z-index:5;
}
<!=========  INDEX AREA ================>

.welcomTx{
	position:absolute;
	top:100px;
	width:600px;
	height:900px;
	padding:15px;
	background-color: white;
	border: solid 2.1px #3498DB;
}


.kruelIntro{
	position:relative;
	
}
.contactForm{
	top:60px;
	position:relative;
}





<!======== PT AREA ========== > 
#Video_area{
	position:relative;
	top:100px;
	width:auto;
	background:black;
	border: solid 1px white;
	border-radius: 15px 15px;

}

.price_Tx1{
	position:relative;
	top:100px;
	left:0px;
	width:auto;
	height:700px;
	padding:15px;
	background-color: white;
	border: solid 2.1px #3498DB;
	border-radius: 15px 15px;
	
}
.united-logo{
	position:relative;
	top:-10px;
	left:10px;	
	height:250px;
	width:400px;
	background:gray;	
}

.price_PT{
position:relative;
left:10%;
}

<!============== Johnny's Bio Area ================>

.jk_pix{
	position:relative;
	top:10px;
	left:0px;
	height:600px;
	overflow:scroll; 
	scrollbar-base-color: red;
}


.kru_bioTxt{
	position:relative;
	top:10px;	
}

#title_logo{
	position:absolute;
	top:0px;
	left:5%;
	color:white;
	z-index:5;
	
}

<!========================= Background Wallpapers ====================>

.content_area{
	
	background-image: url('https://whispering-inlet-81728.herokuapp.com/images/Muay-Thai.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;	
	background-size: cover;
}
.content_area1{
	background-image: url('https://whispering-inlet-81728.herokuapp.com/images/wallup-301745.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	overflow: scroll;

}
.content{
height:1000px;
}




<!=======  Login Area =====>
#login_area{
	position:absolute;
	top:100px;
	left:300px;
	height:400px;
	width:400px;
	margin: 0 auto;
	border: solid 1px red;
	background: -webkit-linear-gradient(left top, #1BC5F9, #3498DB); /* For Safari*/
	background: -o-linear-gradient(bottom right, #1BC5F9, #3498DB); /* For Opera */
	background: -moz-linear-gradient(bottom right, #1BC5F9,#3498DB); /* For Firefox */
	background: linear-gradient(to bottom right, #1BC5F9, #3498DB); /* Standard syntax */
}
#login_wrapper{
	position:relative;
	top:10%;
	left:0%;
	width:200px;
	height:200px;
	margin:0px auto;	
}



<!=======  Sign Up Area =====>
#signUp_area{
		position:absolute;
	top:100px;
	left:300px;
	height:400px;
	width:400px;
	padding:25px;
	border: solid 1px red;
	background: -webkit-linear-gradient(left top, #1BC5F9, #3498DB); /* For Safari*/
	background: -o-linear-gradient(bottom right, #1BC5F9, #3498DB); /* For Opera */
	background: -moz-linear-gradient(bottom right, #1BC5F9,#3498DB); /* For Firefox */
	background: linear-gradient(to bottom right, #1BC5F9, #3498DB); /* Standard syntax */
}
#signUp_wrapper{
	position:relative;
	top:20px;
	width:300px;
	height:350px;
}
#form{
	float:right;
	text-align:right;
}


.footer{
	width:100%;
	height:50px;
	position:fixed;
	left:0px;
	bottom:0px;
	background-color:black;
	color:white;
}


#inputName, #inputEmail, #inputSubject,#inputMessage{
	border: solid 1px #3498DB;
}




















